{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
  <article class="pa3 pa4-ns nested-copy-line-height mt2">
    <header class="mt4 w-100">
      <h1 class="f1 mt3 mb1">{{- .Title -}}</h1>
    </header>
    <section class="flex-ns flex-wrap justify-around mt5">
      {{ range .Paginator.Pages }}
      <div class="relative w-100 w-30-l mb4 bg-white">
        {{ .Render "summary" }}
      </div>
      {{ end }}
    </section>
    {{- template "_internal/pagination.html" . -}}
  </article>
{{ end }}
