table {
  text-align: left;
  overflow: hidden;
  width: 100%;
  border-collapse: collapse;
}

td,
th {
  padding: 2%;
}

/* Background-color of the odd rows */
tr:nth-child(odd) {
  background-color: #cccccc;
}

/* Background-color of the even rows */
tr:nth-child(even) {
  background-color: #dddddd;
}

th {
  background-color: #b8b8b8;
}

tr:hover {
  background-color: #eeeeee;
  -webkit-box-shadow: 0 6px 6px -6px #0e1119;
  -moz-box-shadow: 0 6px 6px -6px #0e1119;
  box-shadow: 0 6px 6px -6px #0e1119;
}
